<ion-view title="{{episode_name}}" id="page15">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

    <ion-content padding="true" class="has-header moviedetails" ng-style="backgroundImage">
      <div class="episode">
        <div class="episode_still">
          <img ng-src="http://image.tmdb.org/t/p/original/{{still_path}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle; width: 100%" />
        </div>
        <div class="episode_name">
           {{episode_name}}
         </div>

         <div class="airdate">
           {{air_date}}
         </div>

        <div class="starrating">
          <rating ng-model="rating.rate" max="rating.max"></rating>
        </div>

        <div class="ratingno">
          ({{vote_average}})
        </div>

        <div class="seasonnumber">
          {{season_number}}
        </div>

        <div class="overview">
          {{overview}}
        </div>

      </div>

      <div ng-show="exist == false;">
          <button class="button button-block button-positive" ng-click="addToFavs()">Add to Favourites</button>
      </div>
      <div ng-show="exist == true;">
          <button class="button button-block button-assertive" ng-click="removefromFavs()">Remove from Favourites</button>
      </div>

  </ion-content>
</ion-view>
