<ion-view hide-back-button="false" title="Login" hide-nav-bar="false">
  <ion-content class="has-header">

    <form name="form_login" ng-submit="doLogin(userLogin)" novalidate>
      <div class="list">

        <label class="item item-input item-floating-label">
            <input id="user_name" name="email" type="text" placeholder="Your email" ng-model="$parent.userLogin.username" autocomplete="off" style="color: #C0C0C0;">
        </label>

        <label class="item item-input item-floating-label">
            <input id="user_pass" name="password" type="password" placeholder="Your password" ng-model="$parent.userLogin.password" autocomplete="off" style="color: #C0C0C0;">
        </label>


        <div class="padding">
          <button type="submit" class="button button-block button-positive">Login</button>
        </div>
      </div>
    </form>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ui-sref="signup">Signup</button>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ui-sref="reset">Forgot Password</button>
        </div>

  </ion-content>
</ion-view>
