<ion-view title="{{moviename}}" id="page10">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header moviedetails">

      <div class="trailer" ng-repeat="trailer in trailers|myLimitTo:10" ng-cloak>
        <div class = "title">
          {{trailer.name}}
        </div>
        <div class="video">
          <div my-youtube code="trailer.key"></div><br>
        </div>
     </div>


  </ion-content>
</ion-view>
