<ion-view title="{{tvname}}" id="page11">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header moviedetails" ng-style="backgroundImage">

    <div class="movie">
      <div class="row">
        <div class="col col-40">
          <img ng-src="http://image.tmdb.org/t/p/w370/{{poster}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle; width: 100%" />
        </div>
        <div class="col col-60">
          <div class="moviename">
            {{tvname}}
          </div>

          <div class="releasedate">
            Seasons: {{seasons}}
          </div>

          <div class="starrating">
            <rating ng-model="rating.rate" max="rating.max"></rating>
          </div>
          <div class="ratingno">
            ({{ratingnumber}})
          </div>
          <div class="genres" ng-repeat="genre in genres">
            {{genre.name}}
          </div>

        </div>
      </div>
    <div class "series">
      <ul>
        <li ng-repeat="season in episodeData">
          <ul>
            <li>
              <div class="top">
                <div class="poster">

                  <div ng-if="season.poster_path == null">
                    <img ng-src="https://placeholdit.imgix.net/~text?txtsize=60&txt={{season.name}}&w=370&h=555&txttrack=0" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle; width: 100%" />
                  </div>

                  <div ng-if="season.poster_path != null">
                    <img ng-src="http://image.tmdb.org/t/p/w370/{{season.poster_path}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle; width: 100%" />
                  </div>
              </div>
                <div class="details">
                  <div class="name">
                    {{season.name}}
                  </div>
                  <div class="airdate">
                    {{season.air_date}}
                  </div>
                </div>
              </div>
            </li>

            <div class="episode" ng-repeat="episode in season.episodes">
              <hr>
              <a ui-sref="menu.episodeDetails({tvID: tvid, season_number: episode.season_number, episode_number: episode.episode_number})">
              <div class="entry">
                <div class="episodedetails">
                  <div class="episodename">
                    <span>{{episode.name}}</span>
                  </div>
                  <div class="airdate">
                    {{episode.air_date}}
                  </div>
                </div>
                <div class="actions">
                <i class="fa fa-star" aria-hidden="true"></i><i class="icon ion-chevron-right"></i>
                </div>
              </div>
            </div>
          </ul>
          <br>
        </li>
        <ul>
    </div>
  </div>

  </ion-content>
</ion-view>
