
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 2px;
}
ul.rating li i {
  font-size: 6vw;
  color: yellow;
}

.vertical-align{
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-moz-flex: 1;
-ms-flex: 1;
flex: 1;
display: block;
padding: 5px;
width: 100%;
}

.moviedetails .movie{
  background: rgba(40, 40, 40, .8);
  margin: -10px;

}

.title{
  padding-left: 10px;
  padding-top: 10px;
}

.details .entry{
  display: flex;
  padding: 6px 10px;
  background: rgba(40, 40, 40, .3);
}

.details hr{
  margin: 0;
  border-color: rgba(255, 255, 255, .3);
}

.overview .entry{
  display: flex;
  padding: 6px 10px;
  background: rgba(40, 40, 40, .3);
}

.overview hr{
  margin: 0;
  border-color: rgba(255, 255, 255, .3);
}

.details .detailName{
width: 35%;
height: 100%;
}

.details .detailName span{
float: right;
padding-right: 10px;
padding-top: 0px;

}

.details .information{
width: 65%;
}

.details .information span{
float: right;
padding-right: 10px;
}

.trailers {
  padding-top: 15px;
    border-radius: 6px;
    border: 2px solid #FFFFFF;
    text-align: center;
    padding:2px;
}

.trailers a {
  color: white;
  text-decoration: none;
}

////

.cast .detailName{
width: 35%;
height: 100%;
}

.cast .detailName span{
float: right;
padding-right: 10px;
padding-top: 0px;

}

.cast .information{
width: 65%;
padding-left: 10px;
}

.cast .information span{
float: right;
padding-right: 10px;
}

.cast .entry{
  min-height: 20px;
}



.pane{
  background-color: #444;
}

/*custom is class added to ion-content*/

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

body {
    color: white;
}






.top{
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
}

.top .poster{
  width:20%;
  display: inline-block;
}

.top .details{
  width:80%;
  display: inline-block;
  padding-left: 10px;
}

.series hr{
  margin: 0;
}

.episode hr{
  margin: 0;
}

.episode .entry{
  display: flex;
  padding: 6px 10px;
  background: rgba(40, 40, 40, .3);
}

.episode .entry .episodedetails {
width:80%;
}

.episode .entry .actions {
width:20%;
}

.episode .entry .actions .fa-star, .fa-star::before {
  font-size: 1.2em;
}

.episode .entry .episodedetails .airdate{
  font-size: 10px;
}

.actions i{
  padding: 0px 8px;
}

.seriesdetails .series{
  background: rgba(40, 40, 40, .8);
  margin: -10px;
}

.popup-head{
}
.popup-title {
  color: #000 !important;
}

.popup-body{
  color:#000 !important;
}

.popup-buttons {

}
